<nav class="navbar navbar-expend-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerlink="product/create" class="nav-link" routerlinkActive="active">
          Create Products
        </a>
      </li>
      <li class="nev-item">
        <a routerlink="product" class="nav-link" routerlinkActive="active">
          Products
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>